.nav__link{
    color:#333;
    font-weight: bold;
}
.nav__link--activo{
    color: aqua;
    border-bottom: 2px solid aqua;
}

.hero__titulo {
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.hero__texto {
    font-size: 1.1rem;
    color: #666;
}

.producto {
    border: 1px solid #ddd;
}

